<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Change Password</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/userProfile">Home</a>
    </div>
  
    <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a class="dropdown-toggle glyphicon glyphicon-user" data-toggle="dropdown" > Profile
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/updateProfile">Update Profile</a></li>
          <li><a href="/changePassword">Change Password</a></li>
         
        </ul>
      </li>
     
      <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
    </ul>
  </div>
</nav>
	
	<div class="container">
  <h2>Change Password</h2>
  <form action="/changePassword" method="post" th:object="${user}">
    <div class="form-group">
      <label >Old Password</label>
      <input type="password" class="form-control"  name="password">
      <p style="color:red">[[${unmatch}]]</p>
    </div>
    <div class="form-group">
      <label >New Password</label>
      <input type="password" class="form-control" name="newPassword">
      
    </div>
    
    <p style="color:green">[[${Success}]]</p>
    <button type="submit" class="btn btn-default">Change</button>
  </form>
</div>
	
</body>
</html>